n8n/workflow_1_scheduler.json
{
  "name": "Claude Magazine — Weekly Brief Scheduler",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 9,
              "minute": 0,
              "weekday": "monday",
              "timezone": "Asia/Seoul"
            }
          ]
        }
      },
      "name": "Cron (Mon 09:00 KST)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SOURCE_LIST_URL}}",
        "responseFormat": "json",
        "options": {
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "name": "HTTP Request (Fetch Source URLs)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "command": "=python scripts/run_weekly_brief.py --topic {{$json[\"topic\"]}} --dry-run",
        "cwd": "={{$env.CLAUDE_MAGAZINE_ROOT}}"
      },
      "name": "Execute run_weekly_brief.py --dry-run",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 900000
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUrl": "={{$env.NOTIFY_SLACK_WEBHOOK}}",
        "text": "=브리프 생성 완료 ({{$json[\"topic\"]}}), Ghost 확인 후 발행하세요\nstdout: {{$node[\"Execute run_weekly_brief.py --dry-run\"].json[\"stdout\"]}}",
        "otherOptions": {}
      },
      "name": "Slack Notify (Editor)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUrl": "={{$env.NOTIFY_SLACK_WEBHOOK}}",
        "text": "=[workflow_1 실패] execution: {{$json[\"execution\"][\"id\"]}}\nnode: {{$json[\"execution\"][\"lastNodeExecuted\"]}}\nerror: {{$json[\"execution\"][\"error\"][\"message\"]}}",
        "otherOptions": {}
      },
      "name": "Slack Notify (Error)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [480, 560]
    }
  ],
  "connections": {
    "Cron (Mon 09:00 KST)": {
      "main": [
        [
          {
            "node": "HTTP Request (Fetch Source URLs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Fetch Source URLs)": {
      "main": [
        [
          {
            "node": "Execute run_weekly_brief.py --dry-run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute run_weekly_brief.py --dry-run": {
      "main": [
        [
          {
            "node": "Slack Notify (Editor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack Notify (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "Asia/Seoul"
  },
  "id": "workflow_1_scheduler",
  "tags": [
    {
      "name": "claude-magazine"
    },
    {
      "name": "scheduler"
    }
  ]
}
